.details {
  display: flex;
  justify-content: space-evenly;
  /* width: 720px; */
  grid-area: details;
  align-items: center;
  transform: translate(-10px, -10px);
  margin-top: 200px;
}
.details__item {
  display: flex;
  margin: 0 2rem;
}
.details__text {
  color: white;
  margin-left: 1rem;
}
.details__text__header {
  color: gray;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}
