.cta__wrapper {
  grid-area: cta;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 375px;
  transform: translateX(-1.5rem);
}
.cta {
  color: white;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* border: 2px solid red; */
  max-width: 70%;
  text-align: left;
  margin-left: auto;
}
.cta__header {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.cta__title {
  font-size: 4rem;
  /* border: 2px solid red; */
}
.cta__subtitle {
  font-size: 6rem;
  margin-top: -1rem;
  color: aqua;
  /* border: 2px solid red; */
  padding: 0;
}
.cta__desc {
  font-family: "Rajdhani", sans-serif;
  /* font-weight: ; */
  font-size: 1rem;
  color: #999999;
  margin: 1rem 0;
  line-height: 1.5;
}

/* .cta__btn {
  display: block;
  max-width: 11rem;
  margin: 1rem;
  padding: 1.5rem 2rem;
  text-align: left;
  background-color: transparent;
  border: 0;
  color: white;
  border: 2px solid #00ffff;
  cursor: pointer;
  border-radius: 50px;
  font-size: 0.7rem;
  letter-spacing: 3px;
} */
.ctaButton {
  position: relative;
  /* font-family: Arial, Helvetica, sans-serif; */
}
.animateBtn {
  animation: anim-rev 500ms ease-in-out forwards;
}
.ctaButton::before {
  content: "Buy One";
  display: block;
  position: absolute;
  top: 24px;
  left: 32px;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 7px;
}
.ctaButton:hover {
  color: aqua;
}
.ctaButton:hover .animateBtn {
  stroke-dasharray: 419;
  stroke-dashoffset: 419;
  animation: anim 500ms ease-in-out forwards;
}
@keyframes anim {
  0% {
    stroke-dashoffset: 419;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes anim-rev {
  100% {
    stroke-dashoffset: 0;
  }
  0% {
    stroke-dashoffset: 419;
  }
}
.animateBtn {
  stroke-dasharray: 104;
  stroke-dashoffset: 0%;
}
