.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85vw;
  /* margin: 0.5rem auto; */
  padding: 0 8.75rem;
  /* border: 2px solid red; */
  height: 144px;
  position: absolute;
  z-index: 100;
}
.navbar__links {
  display: flex;
  justify-content: space-between;
  width: 400px;
  /* border: 2px solid red; */
  font-size: 15px;
  transform: translateX(-10px);
}
.navbar__item {
  padding: 1rem;
  color: gray;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.8rem;
  animation: slide-up-reverse 300ms ease;
}
.navbar__item:hover {
  animation: slide-up 300ms ease both;
}
@keyframes slide-up {
  0% {
    opacity: 1;
  }
  10% {
    transform: translateY(-5px);
  }
  45% {
    opacity: 0;
  }
  60% {
    transform: translateY(1px);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: aqua;
  }
}
@keyframes slide-up-reverse {
  100% {
    opacity: 1;
    color: aqua;
  }
  90% {
    opacity: 0;
  }
  60% {
    transform: translateY(1px);
  }
  45% {
    opacity: 0;
  }
  10% {
    transform: translateY(-5px);
    /* opacity: 0; */
  }
  0% {
    opacity: 1;
  }
}

.navbar__logo__container {
  transform: translateY(6px);
}
