.navbar {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin: 0 auto;
  padding: 3rem 9rem;
  position: absolute;
  z-index: 100;
}
.navbar__links {
  display: flex;
}
.navbar__item {
  color: white;
  padding: 1rem;
}
.arrow45deg {
  margin-right: 1rem;
}
